*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cardProductParent{
  width: 20rem;
  height: inherit;
}
.cardHighlight {
  min-height: 100%;
}
.cardProduct {
  text-align: center;
}
.adminTitle{
  text-align: center;
}
.Btn{
  
}